# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
NODE_ENV="설정한 env ( production, debug, development 등 )"

PORT="서버 포트 번호"

DATABASE_URL="mysql://mysql계정:mysql비밀번호@db서버:db포트/database이름"

DATABASE_NAME="db명"
DATABASE_USER="db계정"
DATABASE_PASSWORD="db비밀번호"

AWS_ACCESS_KEY="aws access key"
AWS_SECRET_ACCESS_KEY="aws secret key"
AWS_REGION="aws region"
AWS_IMAGE_PREFIX="s3 이미지 prefix"

JWT_SECRET="jwt secret"
JWT_EXPIRES_IN="jwt 기간"

NAVER_EMAIL_ID="비밀번호 찾기에서 사용하는 이메일"
NAVER_EMAIL_PASSWORD="이메일 비밀번호"
NAVER_EMAIL_ADDRESS="이메일 주소"

OPEN_WEATHER_API_KEY="openweather api key"

OPEN_AI_API_KEY="openAI api key"